@model i_Turtle.Models.RegistreModel

@{
    ViewData["Title"] = "Register";
    var returnUrl = ViewData["ReturnUrl"] as string;
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        @Html.Raw(ViewData["Title"])
                    </h3>
                </div>
                <div class="card-body">
                    <form asp-action="Register" asp-route-returnUrl="@System.Net.WebUtility.UrlDecode(returnUrl)">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="UserName" class="control-label">
                                <i class="fas fa-user"></i> Username
                            </label>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                                           
    <label asp-for="Password" class="control-label">
        <i class="bi bi-lock"></i> Password
    </label>
    <div class="input-group">
        <input asp-for="Password"  type="password" class="form-control" />
        <button type="button" class="btn btn-outline-secondary toggle-password">
            <i class="fa fa-eye-slash"></i>
        </button>
    </div>
    <span asp-validation-for="Password" class="text-danger"></span>
                        </div><div class="form-group">
                            <label asp-for="Email" class="control-label">
                               <i class="fas fa-envelope"></i> Email
                            </label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                          <button type="submit" class="btn btn-success">
                                <i class="fas fa-sign-in-alt"></i> Login
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
     <script>
        $(function () {
            $('.toggle-password').click(function () {
                var input = $(this).parent().find('input');
                var icon = $(this).find('i');
                input.attr('type', input.attr('type') === 'password' ? 'text' : 'password');
                icon.toggleClass('fa-eye fa-eye-slash');
            });
        });
    </script>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
